@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto:wght@900&display=swap');
/* Making it responsible according to the screen size */
@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
    margin: 0 auto;
  }
  .medium-size{
    font-size: 16px;
    margin-bottom: 20px;
    padding: 0 40px;
  }
}

@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
  }

}

@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 300px;
    margin-bottom: 45px;
    padding: 0 15px;
  }
  .medium-size{
    font-size: 16px;
    margin-bottom: 30px;
    padding: 0 20px;
  }
}

body{
  background-color: #f7f9fc;
}

.img-user{
  width: 100px;
  border-radius: 50%;
}

.container{
  width: 700px;
  margin: 20px auto;
}

.card-white{
  background-color: white;
  padding: 30px 20px;
  margin: 20px;
  text-align: center;
  box-shadow: 0px 10px 20px rgb(0 0 0 / 10%);
  border-radius: 3px;
}

h1{
  font-family:'Roboto', sans-serif;
  color: #003049;
}
.btn-yellow:hover{
  background-color: rgb(30, 30, 30);
}

h2, h3, p{
  font-family:'Open Sans', sans-serif;
  color: #003049;
}

/* .medium-size{
  font-size: 16px;
  margin-bottom: 20px;
  padding: 0 40px;
} */

.btn-yellow{
 color: white;
 text-decoration: none;
 font-family: 'Roboto', sans-serif;
 background-color: #FCBF49;
 padding: 10px;
 border-radius: 3px;
}

.h3-color{
  color: #F77F00;
  font-size: 24px;
  margin: 0px;
}

.list-inline a{
  font-size: 30px;
  text-decoration: none;
  color: #FCBF49;
}

.list-inline a:hover{
  color: rgb(30, 30, 30);
}

ul{
  list-style: none;
  padding: 0;
}

.list-inline li{
  display: inline;
}
.list-inline > li > a{
  font-size: 50px;
}
